@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
html, body {
  height: 100%;
  background: #ededed;
  font-family: 'Rubik',BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }

body {
  padding: calc(3.25rem + 3vw) 3vw 3vw; }

#diff {
  position: relative;
  top: calc(50% - 20px);
  height: 40px;
  width: 100%;
  cursor: default !important; }
  #diff.Easy {
    background: #48c774;
    color: white; }
  #diff.Medium {
    background: #ffdd57; }
  #diff.Hard {
    background: #f14668;
    color: white; }
  #diff:hover {
    outline: none; }

#submit {
  position: fixed;
  right: 80px;
  bottom: 40px;
  z-index: 9999999; }

h2 {
  margin: 10px 0;
  font-size: 1.3rem;
  padding-left: 10px;
  background-color: #424242;
  color: #ededed; }
