@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

$family-primary: 'Rubik';

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/helpers/_all';

@import '~bulma/sass/components/navbar';
@import '~bulma/sass/grid/columns';

html, body {
	height: 100%;
}

body {
	padding: calc(#{$navbar-height} + 3vw) 3vw 3vw;
	background: #ededed;
}