extends layout

block head
	title BlockOJ - Home
	link(rel='stylesheet' href='/style/index.css' type='text/css')

block body
	table
		each problem in problems
			tr
				td= problem.name
				td= problem.tags.join(', ')