extends layout

block head
	title BlockOJ - Register
	link(rel='stylesheet' href='/style/login.css' type='text/css')

block body
	div.columns.is-centered.is-vcentered
		div.column.is-5
			form.box(action='/register' method='POST')
				h1.title Register
				div.field
					label.label Username
					div.control.has-icons-left
						input.input#username(type='text' placeholder='Username' name='username' required)
						span.icon.is-small.is-left
							i.fas.fa-user
				div.field
					label.label Password
					div.control.has-icons-left
						input.input#password(type='password' placeholder='Password' name='password' required)
						span.icon.is-small.is-left
							i.fas.fa-lock
				div.field.is-grouped
					div.control.has-text-right
						button.button.is-success(type='submit') Register
					div.control.has-text-right
						a.button.is-link.is-outlined(href='/login') Login