@import 'base';

@import '../../node_modules/bulma/sass/form/all';
@import '../../node_modules/bulma/sass/elements/box';
@import '../../node_modules/bulma/sass/elements/button';

div.columns {
	height: 90%;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
